/*  your css code here. If applicable */
.cards img{
	margin:10px;
	border:3px solid #000;
	max-width:25vw;
	box-shadow:3px 3px 8px 0px rgba(0,0,0,0.3);
	
}
.cards{
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
}
